# DS2413 Dual Channel Addressable Switch

# Copyright (c) 2021 Thomas Stranger
# SPDX-License-Identifier: Apache-2.0

config GPIO_DS2413
	bool "DS2413 Dual Channel Addressable Switch"
	depends on W1_NET
	help
	  Enable driver for DS2413 Dual Channel Addressable Switch

if GPIO_DS2413

config GPIO_DS2413_INIT_PRIORITY
	int "Init priority"
	default 75
	help
	  Device driver initialization priority.

endif # GPIO_DS2413
